artist:shunjou shuusuke
artist:yoko juusuke
group:ichigo crepe oomorigumi
artist:hokkyoku hotaru
group:iris art
artist:nt00
artist:dam
group:poison gray
artist:matsuriuta
artist:takaku tubby
artist:dokuneko noil

